:root {
  --primary-color: hsl(221, 83%, 53%);
  --primary-color-light: hsl(221, 83%, 63%);

  /* pokemon types */
  --Bug: #92bc2c;
  --Dark: #595761;
  --Dragon: #0c69c8;
  --Electric: #d9be2b;
  --Fairy: #ee90e6;
  --Fighting: #d3425f;
  --Fire: #fba54c;
  --Flying: #a1bbec;
  --Ghost: #5f6dbc;
  --Grass: #5fbd58;
  --Ground: #da7c4d;
  --Ice: #75d0c1;
  --Normal: #a0a29f;
  --Poison: #b763cf;
  --Psychic: #fa8581;
  --Rock: #c9bb8a;
  --Steel: #5695a3;
  --Water: #539ddf;

  /* background pattern */
  --bg-color: hsl(217, 100%, 97%);
  --bg-image: radial-gradient(
    hsl(214, 92%, 62%) 0.5px,
    hsl(217, 100%, 97%) 0.5px
  );

  /* typescale */
  --scale: 1.25;
  --base: 1rem;
  --small: calc(var(--base) / var(--scale));
  --h5: calc(var(--base) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));

  /* font */
  --base-font: "Space Grotesk", serif;

  /* border radius */
  --border-rounded: 0.25rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-light);
  min-height: 100px;
}

[data-theme="dark"] {
  --bg-color: hsl(217, 100%, 3%);
  --bg-image: radial-gradient(
    hsl(214, 92%, 38%) 0.5px,
    hsl(217, 100%, 3%) 0.5px
  );
}

*:focus {
  outline: 2px solid var(--primary-color-light);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: 10px 10px;

  font-family: var(--base-font);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

p {
  font-size: var(--base);
}

.small {
  font-size: var(--small);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button,
.button {
  cursor: pointer;

  border: none;
  border-radius: var(--border-rounded);

  transition: opacity 150ms;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.section {
  margin-block: 1.5rem;
}

.text-shadow {
  text-shadow: 1px 1px 0 black;
}

@media (min-width: 600px) {
  .section {
    margin-block: 2rem;
  }
}
